/*
fx-green: #549351;
fx-pink: #B73167;
fx-blue: #6790CA;
fx-orange: #D9792C;
*/

* {
    box-sizing: border-box;
}

body {
  background-color: #DAFFD2;
}

.intro, .quiz, .final {
    text-align: center;
}

.quiz__answers-item {
    color: #26354A;
}

.quiz__answers-item:hover {
    color:red;
}

.selected {
    color: white;
    background-color: blue;
}

