/*
fx-green: #549351;
fx-pink: #B73167;
fx-blue: #6790CA;
fx-orange: #D9792C;
*/

* {
    box-sizing: border-box;
}

body {
  background-color: #DAFFD2;
}

header {
  background-color: #DAFFD2;
  height: 4rem;
  padding-top: 2rem;
  text-align: center;
}

.intro, .quiz, .final {
    text-align: center;
}

.intro__title {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10rem;
}

.final__tally {
  font-family: 'Open Sans', sans-serif;
  padding-top: 2rem;
}

.intro__start, .confirm__button {
  padding: 0.5rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  border: 1px solid #6790CA;
  border-radius: 4px;
  background-color: #6790CA;
  display: block;
  margin: 0 auto;
}

.restart {
  padding: 0.5rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  border: 1px solid #6790CA;
  border-radius: 4px;
  background-color: #6790CA;
  display: block;
  margin: 1rem auto;
}

.intro, .final; {
  margin-top: 10rem;
}

.logo {
  width: 250px;
  display: inline-block;
  margin-top: 1.5rem;
}

.quiz {
  padding-top: 4rem;
}

.quiz__question {
  margin-top: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.quiz__answers > .quiz__answers-item {
  margin: 0 auto;
  max-width: 31rem;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: 4px;
}

.quiz__answers > .quiz__answers-item:hover {
  background-color: #6790CA;
}

.quiz__answers-item {
  color: #1A2433;
  font-family: 'Open Sans', sans-serif;  
  font-size: 1.5rem;
}

.quiz__answers-item:hover {
    //color: #6790CA;
}

.confirm {
  margin-top: 1rem;
}

.result__type {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.result__text {
  max-width: 40rem;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.selected {
    background-color: #D9792C;
}

/*
find a way to set the correct and incorrect choice...
#correct {
  background-color: #549351;
}

#incorrect {
  background-color: #B73167;
}
*/

.final__fxorg {
  font-family: 'Open Sans', sans-serif;
}

.final__fxorg-link {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .quiz__question {
    font-size: 1.3rem;
  }
  .quiz__answers > .quiz__answers-item {
    max-width: 20rem;
  }
  .quiz__answers-item {
    font-size: 1.2rem;
  }
  .result__type {
    font-size: 1.5rem;
  }
  .result__text {
    font-size: 0.9rem;
  }
}


