/*
fx-green: #549351;
fx-pink: #B73167;
fx-blue: #6790CA;
fx-orange: #D9792C;
*/

* {
    box-sizing: border-box;
}

body {
  background-color: #DAFFD2;
}

.intro, .quiz, .final {
    text-align: center;
}

.quiz__answers > .quiz__answers-item {
  margin: 1rem auto;
  max-width: 20rem;
  cursor: pointer;
}

.quiz__answers > .quiz__answers-item:hover {
  background-color: #6790CA;
}

.quiz__answers-item {
    color: #1A2433;
    font-size: 1.5rem;
}

.quiz__answers-item:hover {
    //color: #6790CA;
}

.selected {
    background-color: #D9792C;
}



